@charset "UTF-8";

$titulo_fonte: "Castellar";
$outros_fonte: "Cambria Math";

$primary-color: rgb(104, 24, 100);

a {
    font-family: $outros_fonte;
    font-size: 16pt;
    color: blue;
}

p {
    font-family: $outros_fonte;
    font-size: 16pt;
    color: red;
}

h1 {
    font-family: $titulo_fonte;
    font-size: 36pt;
    color: $primary-color;
}

h2 {
    font-family: $titulo_fonte;
    font-size: 26pt;
    color: $primary-color;
}

h3 {
    font-family: $outros_fonte;
    font-size: 20pt;
    color: $primary-color;
}
