a {
  font-family: "Algerian";
  font-size: 12pt;
  color: blue;
}

p {
  font-family: "Algerian";
  font-size: 16pt;
  color: red;
}

h1 {
  font-family: "Algerian";
  font-size: 36pt;
  color: green;
}

h2 {
  font-family: "Algerian";
  font-size: 26pt;
  color: green;
}

h3 {
  font-family: "Algerian";
  font-size: 20pt;
  color: green;
}
