a {
  font-family: "Cambria Math";
  font-size: 16pt;
  color: blue;
}

p {
  font-family: "Cambria Math";
  font-size: 16pt;
  color: red;
}

h1 {
  font-family: "Castellar";
  font-size: 36pt;
  color: rgb(104, 24, 100);
}

h2 {
  font-family: "Castellar";
  font-size: 26pt;
  color: rgb(104, 24, 100);
}

h3 {
  font-family: "Cambria Math";
  font-size: 20pt;
  color: rgb(104, 24, 100);
}
